# ignore these guys
vendor/
public/node_modules/
.idea
var/
php-cs-fixer
rrauss-collection-20161202-1640.csv
config/config.ini
public/adminer.php
src/.env
coverage/
phpunit.phar
public/uploads/
phpunit.xml
