html {
    height: 100%;
    font-family: 'Catamaran', sans-serif;
    color: black;
}


.brand-logo {
    margin-left: 0.75rem;
}

.btn {
    font-size: 0.7rem;
}

.collapsible-header > p {
    line-height: 1.5rem;
    margin: 0;
}
.collapsible-body > p {
    line-height: 1.5rem;
    margin: 0;
    padding: 0.5rem;
}



.toolbar.active {
    position: relative;
    top: 0;
}

.links {
    color: grey;
}
a.links:hover {
    color: rgba(238, 80, 115, 0.7);
}

.light-text {
    color: grey;
}
.del-image {
    padding: 10px;
}

span.badge {
    /*margin-left: 0;*/
    float: none;

}
.picker__select--year.browser-default {
    opacity: 1;
    height: 30px;
    left: 50px;
}
@media (min-width: 600px) {
    span.badge {
        /*margin-left: 0;*/
        float: right;

    }
    header, main, footer {
        padding-left: 300px;
    }
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}


