html {
    height: 100%;
    color: black;
    font-family: 'Catamaran', sans-serif;
}

/* footer rules */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* *********** */
.grid > .col > .card {
    margin: 0;
    padding: 0;
}

.side-nav {
    width: 70%;
    padding-top: 1em;

}

.brand-logo, .genre_title {
    font-family: 'Permanent Marker', cursive;

}


.nav {
    z-index: 999;

}

nav ul li > a:hover {
    background: none;
    background-color: white;
}

/* line effects on navbar */
/* see http://littlesnippets.net/some-inspiration-for-menus-using-animated-lines/*/
/*************************************************************/
menu__list * {
    box-sizing: border-box;
}

.menu__list li {
    display: inline-block;
    /*list-style: outside none none;*/
    margin: 0 1em;
    padding: 0;
}

.menu__list li {
    /*padding: 0.5em 0;*/
    color: rgba(255, 255, 255, 0.5);
    position: relative;

}

.menu__list li:before,
.menu__list li:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.menu__list li:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #2980b9;
}

.menu__list li:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    /*content: attr(data-hover);*/
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

.menu__list li:hover:before,
.menu__list .active li:before {
    opacity: 1;
    width: 100%;
}

/*.menu__list li:hover:after,*/
/*.menu__list .active li:after {*/
/*max-width: 100%;*/
/*}*/
.menu__list li > a.active {
    color: red;
}

/*****************************************************/
#refineForm {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#refine_genre {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#refine_format {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.spacer {
    margin: 4%;
}

.spacer_large {
    margin: 10%;
}

button {
    padding: 0px;
}

.card .card-reveal {
    background-color: #2e3436;
    padding: 0.5em;
}

.container .card .release_content {
    padding: 2em;
}

.card .card-content {
    padding: 0;
}

/* collapsibles */

.collapsible-header {
    margin: 0;
}

.fixed-action-btn {
    position: relative;
    top: 20px;
    left: 0;
    z-index: 900;
}

.header-image {
    background-image: url(/images/header-alt.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}

.pagination li.active {
    background-color: #99cb84;
}

/*.footer-copyright {*/
/*margin: 0;*/

/*}*/
h1 {
    font-family: 'Permanent Marker', cursive;
}

.sideNav_title {
    font-family: 'Permanent Marker', cursive;
}

.card .tab_content {
    margin-top: 2em;
    padding: 2em;
}

.card-tabs .tabs .tab a {
    color: rgba(101, 80, 115, 0.7);
    transition: color .28s ease;
}

.card-tabs .tabs .tab a:hover {
    color: rgba(238, 80, 115, 0.7);
    transition: color .28s ease;
}

.btn-floating {
    border-radius: 0;
}

.track_header {
    margin: 0em;
    padding: 2rem;
}
.home_header {
    margin: 0em;
    padding: 2rem;
}
.track_list-body {
    padding: 2em;
}
.container .card-panel {
    padding: 0;
}
.collapsible.popout>li {
    margin: 0;
}
.footer_nav>li {
    padding-top: 1em;
}
@media (min-width: 600px) {
    .brand-logo {
        font-family: 'Permanent Marker', cursive;
        margin-left: 1em;
    }

    .search-nav {
        margin-left: 1%;
    }

    .controls {
        font-size: 1rem;
    }

    .header-image {
        height: 350px;
    }

    /*nav.shrink {*/

        /*padding: 10px;*/
        /*!*background-color: rgba(255,255,255,0.0);*!*/
    /*/ / Animation -webkit-transition: all 0.4 s ease;*/
        /*transition: all 0.4s ease;*/
    /*}*/

    /*nav {*/
        /*padding: inherit;*/
        /*background-color: white;*/
    /*/ / Animation: -webkit-transition: all 0.4 s ease;*/
        /*transition: all 0.4s ease;*/
    /*}*/

    .side-nav {
        width: 30%;
        padding-top: 4rem;
    }

    .homepage_sections {
        margin: 0em;
    }

}
