<a href="#" data-activates="slide-out" class="btn button-collapse grey darken-3">Refine</a>
<div class="fixed-action-btn toolbar click-to-toggle">
    <a class="btn waves-effect waves-light blue-grey lighten-3">Genres</a>
    <ul class="genre_toolbar">
        <li><a href="/vinyl/rock" class="btn-floating blue-grey darken-3">Rock</a></li>
        <li><a href="/vinyl/electronic" class="btn-floating blue-grey darken-1">Electronic</a></li>
        <li><a href="/vinyl/classic-rock" class="btn-floating blue-grey lighten-2">Classic Rock</a></li>
    </ul>
</div>
