<div class="row">
    <div class="col s12 m6">
        <h1 class="flow-text">The Record Box</h1>
        <ul class="footer_nav">
            <li><a class="grey-text text-lighten-3 waves-effect waves-light" href="/home">Home</a></li>
            <li><a class="grey-text text-lighten-3 waves-effect waves-light" href="/vinyl">Vinyl</a></li>
            <li><a class="grey-text text-lighten-3 waves-effect waves-light modal-trigger" href="#shippingModal">Shipping Rates</a></li>

            <li><a class="grey-text text-lighten-3 waves-effect waves-light modal-trigger" href="#gradingModal">Record Grading Guide</a></li>

            <li><a class="grey-text text-lighten-3 waves-effect waves-green" href="/faq">FAQ</a></li>
        </ul>
    </div>
    <div class="col s12 m6 footer_nav">
        <ul>
            <li><a href="#contactModal" class="waves-light waves-effect btn modal-trigger">Get in touch</a></li>
            <li><a href="https://twitter.com/TherecordboxIE?lang=en"><i class="icon ion-social-twitter"></i></a>
                <a href="https://www.facebook.com/The-recordboxie-1385859948162045/"><i class="icon ion-social-facebook"></i></a>
            </li>
        </ul>
    </div>

    {# -----------modals------------- #}

    {# shipping rates modal #}
    <div id="shippingModal" class="modal modal-fixed-footer">
        <div class="modal-content black-text">
            <h2 class="track_header grey lighten-4 flow-text">Shipping Rates</h2>
            <div class="col s12 m12">
                <h4 class="flow-text">Ireland</h4>
                <p>1 x Lp : Standard an Post - &euro;3.00</p>
                <p>2 up to a max weight of 3kg (around 5-6 records) : nightline direct &euro;5.00</p>
                <p>3 - 5kg (5-6 records up to around 10 records) : nightline direct &euro;7.00</p>
                <h4 class="flow-text">International</h4>
                <p>Currently, i dont ship anywhere internationally due to the postal rates. However, if you really, really want something from the
                    site, get in touch via the contact form and i can try to work something out.</p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
        </div>
    </div>

    {# record grading guide modal #}
    <div id="gradingModal" class="modal modal-fixed-footer">
        <div class="modal-content black-text">
            <h2 class="track_header grey lighten-4 flow-text">Record Grading Guide</h2>
            <div class="col s12 m12">
                <p>New - Brand new, still sealed.</p>
                <p>Mint - Opened but in as new condition. Plays beautifully and sleeve and vinyl without a scratch.</p>
                <p>Ex - Sleeve and vinyl in excellent condition, plays through without any scratching/noise. Been played a few times though and
                    if examined closely, will find marks/scuffs to sleeve or vinyl.</p>
                <p>Vg+ - Really good quality but scuffs or scratches may be obvious at a glance.</p>
                <p>Vg - Shows signs of being well used, vinyl may be scuffed or scratched all over and the sleeve may be looking a liitle the worse
                    for wear. The vinyl will play, but there may be audible pops and noise.
                </p>
                <p>Good - Actually not that good. The vinyl will definitely have scratches, scuffs and will probably pop and have lots of surface noise. The
                    sleeve may be bent, may have writing on it and the spine will have probaly have some damage.
                </p>
                <p>Fair - Not great condition at all. Vinyl will be definitely scuffed and scratched, lots of surface noise and might also skip.</p>
            </div>
        </div>
        <div class="modal-footer">

            <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
        </div>
    </div>

    {# contact form modal #}
    <div id="contactModal" class="modal modal-fixed-footer">
        <div class="modal-content black-text">
            {{ render(controller('VinylStore\\Controllers\\ContactFormController::contactFormAction')) }}
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>


<div class="footer-copyright">
    <div class="container">
        &copy; {{ "now"|date('Y', timezone="Europe/Dublin") }}
        Have a nice {{ "now"|date('l') }}
        <a class="grey-text text-lighten-4 right" href="#!">Website->developedBy('nmcm');</a>
    </div>
</div>



