<div class="container">
    <div class="row">
        <div class="col m6">
            <p>Search for a release here by filling in the two fields, artist and title.</p>
            <form method="get" action="/search-results">
                <div class="input-field">
                    <input id="artist" type="search" name="artist" placeholder="artist" required>
                    <label class="label-icon" for="artist"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
                <div class="input-field">
                    <input id="title" type="search" name="title" placeholder="title" required>
                    <label class="label-icon" for="title"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>