{# the navbar #}
{# set up the names of the routes and links #}
{% set navbar = [['home', 'Home'], ['collection', 'Collection']] %}

<div class="navbar">
    <nav class="nav-extended white">
        <div class="nav-wrapper white">
            <a href="/" class="brand-logo black-text">Vinyl Store</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="black-text material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% for item in navbar %}
                <li{% if item[0]==active_page %} class="active" {% endif %}><a href="{{ global.request.basepath }}/{{ (item[0]) }}" class="black-text">{{ item[1] }}</a></li>
                    {% endfor %}

            </ul>
        </div>
    </nav>
</div>

