<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Vinyl Store Administration{% endblock %}
    </title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link  href="{{ asset('/css/datepicker.min.css') }}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('/css/backend.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">

</head>


<body>
    <header>
        {% block navbar %}
            {% include 'backend/partials/navbar.html.twig' %}
        {% endblock %}
        {% block toolbar %}
            {% include 'backend/partials/toolbar.html.twig' %}
        {% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer></footer>
    <!--Import jQuery before materialize.js-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="{{ asset('/js/datepicker.min.js') }}"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js">
    </script>
    <!-- Import custom functions for various components -->
    <script
            src="{{ asset('/js/backend.js') }}">
    </script>

    {% block javascript %}{% endblock %}
</body>


</html>
