{% extends 'backend/base.html.twig' %}
{% set active_page = 'dashboard' %}
{% block content %}
    <div class="">
        <div class="container mx-auto px-4">
            <h5>Latest Releases</h5>

            {% for release in releases %}
                <div>
                    <div>
                        <div>
                            <p>{{ release.artist }}

                            </p>
                            <p>{{ release.title }}

                            </p>
                            <p>{{ release.format }}</p>
                            <p>{{ release.addedDate.format('Y-m-d') }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">

            <a href="/admin/view-releases" class="btn">Releases</a>
        </div>
    </div>
{% endblock %}
