{% block navbar %}
    <nav class="admin-nav">
        <div class="nav-wrapper cyan darken-4">
            <a href="#!" class="brand-logo left">The Record Box</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i
                        class="material-icons">menu</i></a>
            <ul id="mobile-nav" class="side-nav fixed">
                <div class="card-panel">
                    <li>
                        <button class="waves-effect waves-light btn orange">Welcome {{ app.user.username }}</button>
                    </li>
                </div>
                <li>
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a {% if active_page in ['view-releases', 'create-release'] %}class="collapsible-header active"{% else
                            %}class="collapsible-header"{% endif %}>Releases</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li {% if active_page == 'view-releases' %}class="active"{% endif %}>
                                        <a href="/admin/view-releases">View releases</a>
                                    </li>
                                    <li {% if active_page == 'create-release' %}class="active"{% endif %}>
                                        <a href="/admin/create-release">Create new release</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a {% if active_page in ['view-images', 'upload-image'] %}class="collapsible-header active"{% else
                            %}class="collapsible-header"{% endif %}>Images</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li {% if active_page == 'view-images' %}class="active"{% endif %}>
                                        <a href="/admin/view-images">View images</a>
                                    </li>
                                    <li {% if active_page == 'upload-image' %}class="active"{% endif %}>
                                        <a href="/admin/upload-image">Upload image</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a {% if active_page in ['view-pricing', 'create-pricing'] %}class="collapsible-header active"{% else
                            %}class="collapsible-header"{% endif %}>Pricing</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li {% if active_page == 'view-pricing' %}class="active"{% endif %}>
                                        <a href="/admin/view-pricing">View pricing</a>
                                    </li>
                                    <li {% if active_page == 'create-pricing' %}class="active"{% endif %}>
                                        <a href="/admin/create-pricing">Create pricing</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible">
                        <li>
                            <a {% if active_page in ['view-shipping', 'create-shipping'] %}class="collapsible-header active"{% else
                            %}class="collapsible-header"{% endif %}>Shipping</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li {% if active_page == 'view-shipping' %}class="active"{% endif %}>
                                        <a href="/admin/view-shippingRates">View shipping rates</a>
                                    </li>
                                    <li {% if active_page == 'create-shipping' %}class="active"{% endif %}>
                                        <a href="/admin/shippingRates">Create a new shipping rate</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="waves-effect waves-light btn grey darken-4" href="{{ path('admin_logout') }}">Log-out</a>
                </li>
                </li>
            </ul>
        </div>
    </nav>
    {#<!-- Hidden side-nav for mobiles -->#}
    {#<ul class="side-nav center-align" id="mobile-demo">#}
    {#<div class="center-align"><i class="material-icons close-menu">close</i></div>#}
    {#<li class="center-align">#}
    {#<button class="waves-effect waves-light btn orange">Welcome {{ app.user.username }}</button>#}
    {#</li>#}
    {#<li><a href="/admin/dashboard">View Releases</a></li>#}

    {#<li>#}
    {#<a href="/admin/view-images">View Images</a>#}
    {#</li>#}

    {#<li><a href="/admin/view-pricing">View Pricing</a></li>#}
    {#<li><a class="waves-effect waves-light btn grey darken-4" href="{{ path('admin_logout') }}">Log-out</a></li>#}
    {#</ul>#}
{% endblock %}
