{# fixed action button present on all admin screens for quick links to a toolbar #}

<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large blue-grey click-to-toggle">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        <li class="waves-effect waves-light"><a href="/admin/create-release">Create Release</a></li>
        <li class="waves-effect waves-light"><a href="/admin/upload-image">Upload Image</a></li>
        <li class="waves-effect waves-light"><a href="/admin/create-pricing">Add Pricing</a></li>

    </ul>
</div>