{% extends 'frontend/base.html.twig' %}
{% set active_page = 'home' %}

{% block header %}
    <h1>Vinyl Store</h1>
{% endblock %}
{% block content %}
    <h1>Sorry we couldnt find that page. its a 404!</h1>
{% endblock %}