<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="web dev by neil mcmahon.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- theme color for mobile browsers -->
    <meta name="theme-color" content="#242E38">
    <!-- google verification tag -->
    <meta name="google-site-verification" content="W5iw1CgOsikdXGOVNB3Rc6XWI9CEqkkRtlatBpxzq3g" />
    <title>
        {% block title %}TheRecordBox.ie online Vinyl Shop - Quality second-hand and new vinyl records.{% endblock %}
    </title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {#<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">#}
    {#<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Bangers" rel="stylesheet">#}
    {#<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">#}
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Bangers|Source+Code+Pro" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="{{ asset('/css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <!-- snipcart css -->
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />

</head>

<body>
<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
    {# the header #}
    <header>
        {% include 'frontend/partials/navbar.html.twig' %}
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <div class="spacer"></div>
    {# the footer #}
    <footer class="page-footer">
        {% include 'frontend/partials/footer.html.twig' %}

    </footer>

    {# javascript functions #}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js" integrity="sha256-GzgzLo/c1kTNP/m6EvfAaqGLLuvLicxoYs4s6qFRocI=" crossorigin="anonymous"></script>
    <!-- snipcart js -->
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart"
            data-api-key="OGJiNWViNTItYzFjOC00NjcwLTljYmMtZTc1MDk1ZWZjZWVmNjM2MTc3ODQwOTA5OTg3NjAz" data-autopop="false"></script>
    <!-- custom js -->
    <script src="{{ asset('/js/frontend.js') }}"></script>

</body>

</html>
