<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Vinyl Store{% endblock %}
    </title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!--Import materialize.css-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="{{ asset('/css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <!-- import gridlex -->
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.5/gridlex.min.css">#}
    <!-- snipcart css -->
    {#<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">#}


</head>

<body>

    {# the header #}
    <header>
        {% include 'frontend/partials/navbar.html.twig' %}
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <div class="spacer"></div>
    {# the footer #}
    <footer class="page-footer grey darken-3">
        {% include 'frontend/partials/footer.html.twig' %}

    </footer>

    {# javascript functions #}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js" integrity="sha256-GzgzLo/c1kTNP/m6EvfAaqGLLuvLicxoYs4s6qFRocI=" crossorigin="anonymous"></script>
    {#<script type="text/javascript" src="{{ asset('/js/materialize.js') }}"></script>#}
    <!-- snipcart js -->
    {#<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="OGJiNWViNTItYzFjOC00NjcwLTljYmMtZTc1MDk1ZWZjZWVmNjM2MTc3ODQwOTA5OTg3NjAz"></script>#}

    {#<script src="{{ asset('js/mixitup.min.js') }}"></script>#}
    <script src="{{ asset('/js/frontend.js') }}"></script>





</body>

</html>
