<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="web dev by neil mcmahon.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- theme color for mobile browsers -->
    <meta name="theme-color" content="#242E38">
    <!-- google verification tag -->
    <meta name="google-site-verification" content="W5iw1CgOsikdXGOVNB3Rc6XWI9CEqkkRtlatBpxzq3g"/>

    <title>
       {% block title %}{% endblock %}The Record Box | Vinyl Records Online Ireland.
    </title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Bangers|Source+Code+Pro" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="{{ asset('/css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <!-- snipcart css -->
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <!-- cookie consent popup proivided by insites/cookie-consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#3c404d",
                        "text": "#d6d6d6"
                    },
                    "button": {
                        "background": "transparent",
                        "text": "#8bed4f",
                        "border": "#8bed4f"
                    }
                }
            })});
    </script>
    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->
    <!-- Recapchta -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
    {# the header #}
    <header>
        {% include 'frontend/partials/navbar.html.twig' %}
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    {#<div class="spacer"></div>#}
    <div class="recent-items">
        {% include 'frontend/partials/recentItems.html.twig' %}
    </div>
    {# the footer #}
    <footer class="page-footer">
        {% include 'frontend/partials/footer.html.twig' %}
    </footer>
    <!-- js -->
    <!--Import jQuery before materialize.js-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js">
    </script>

    <!-- custom js -->
    <script
            src="{{ asset('/js/frontend.js') }}">
    </script>
    <script src="https://cdn.jsdelivr.net/jsbarcode/3.5.8/JsBarcode.all.min.js"></script>
    <!-- google analytics tracking ID -->
    <script>
        <!-- turn off tracking hits from localhost -->
        if (window.location.hostname != 'localhost') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-70929080-3', 'auto');
            ga('send', 'pageview');
        }
    </script>
</body>

</html>
