{% extends 'frontend/base.html.twig' %}
{% set active_page = 'vinyl' %}
{% block description %}
    Vinyl record hq. Start browsing for your next quality record.
{% endblock %}
{% block title %}Vinyl{% endblock %}
{% block content %}
    {# genre toolbar links #}
    <div class="action_button row">
        <div class="col m6 s12">
            {% include 'frontend/partials/actionButtons.html.twig' %}
        </div>
    </div>

    {# slide out refine form #}
    <ul id="slide-out" class="side-nav">
        {{ render(controller('VinylStore\\Controllers\\MainController::renderRefineFormAction')) }}
        {#{% include 'frontend/partials/refineForm.html.twig' %}#}
    </ul>

    {# releases #}
    <div class="row">

        {% if results is defined %}
            {% for release in results %}
                <div class="col m3 s6">
                    {% include 'frontend/partials/releaseView.html.twig' %}
                </div>
            {% endfor %}
        {% endif %}

    </div>
    {# pagination links #}
    {% include "frontend/partials/pagination.html.twig" %}
{% endblock %}
