{% extends 'frontend/base.html.twig' %}
{% set active_page = 'vinyl' %}
{% block content %}

    <div class="spacer"></div>
    {# action buttons on top left of screen #}
    <div class="row">
        <div class="col m6 s12">
            {% include 'frontend/partials/actionButtons.html.twig' %}
        </div>
    </div>

    {# refine form #}
    <ul id="slide-out" class="side-nav">
        {{ render(controller('VinylStore\\Controllers\\MainController::renderRefineFormAction')) }}
     {#{% include 'fronten/dpartials/refineForm.html.twig' %}#}
    </ul>

    {# results from the refine form #}
    <div class="row">
        {% for release in results %}
            <div class="col m3 s6">
               {% include 'frontend/partials/releaseView.html.twig' %}
            </div>
        {% endfor %}
    </div>



{% endblock %}
