{% extends 'frontend/base.html.twig' %}
{% set active_page = 'collection' %}


{% block content %}
{# the full response from the curl call to the api decoded from json to standard objects #}
{#{{ dump(collection) }}#}

<div class="row">

{% for release in collection %}
    <div class="col m2">
    <div class="card small">
        <div class="card-image">
            <img src="{{ release.basic_information.thumb }}">
            <span class="card-title"></span>
        </div>

        <div class="card-action">
            <a href="/release/{{ release.basic_information.id }}">{{ release.basic_information.title }}</a>
        </div>
    </div>
    </div>
{% endfor %}

</div>

{% endblock %}
