{% extends 'frontend/base.html.twig' %}
{% set active_page = 'vinyl' %}
{% block description %}Vinyl record HQ. Start browsing for your next quality record.{% endblock %}
{% block title %}{% if genre is defined %}{{ genre|title }} | {% else %}The vinyl collection |  {% endif %}{% endblock %}
{% block content %}
    {# genre toolbar links #}
    <div class="action_button row">
        <div class="col m6 s12">
            {% include 'frontend/partials/actionButtons.html.twig' %}
        </div>
    </div>

    {# slide out refine form #}
    <ul id="slide-out" class="side-nav">
        {{ render(controller('VinylStore\\Controllers\\MainController::renderRefineFormAction')) }}
    </ul>

    {# releases #}
    <div class="row">

        {% if results is defined %}
            {% if results is empty %}
                <div class="col m3 s6"><p>Sorry, there was nothing matching your refining.</p></div>
                {% else %}
                    {% for release in results %}
                        <div class="col m3 s6">
                            {% include 'frontend/partials/releaseView.html.twig' %}
                        </div>
                    {% endfor %}
            {% endif %}
        {% endif %}

    </div>
    {# pagination links #}
    {% include "frontend/partials/pagination.html.twig" %}
{% endblock %}
