{% extends 'frontend/base.html.twig' %}
{% set active_page = 'home' %}

{% block header %}
    <h1>Vinyl Store</h1>
{% endblock %}
{% block content %}
    <h1>Sorry theres been an error somewhere. Check your logs for more details</h1>
{% endblock %}