{% extends 'frontend/base.html.twig' %}
{% set active_page = 'faq' %}
{% block content %}
    <div class="row">
        <div class="container">
            <h1 class="flow-text grey lighten-4 track_header">FAQ</h1>
            <ul class="collapsible popout" data-collapsible="expandable">

                <li>
                    <div class="collapsible-header"><i class="material-icons">view_headline</i>How much is shipping?</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">view_headline</i>I cant see the album information!</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">view_headline</i>Where is my order?</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">view_headline</i>Can i view my previous orders?</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">view_headline</i>Can i pre-order an album?</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">view_headline</i>Is my vinyl safe in transit?</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">view_headline</i>How can i pay?</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}