{% extends 'frontend/base.html.twig' %}
{% set active_page = 'home' %}
{% block body %}
 <body class="lead-image">
  {% endblock %}
{% block header %}
 <h1>Vinyl Store</h1>
{% endblock %}
{% block content %}
<h1>Vinylstore for record enthusiasts</h1>
{% endblock %}
