{% extends 'frontend/base.html.twig' %}

{% set active_page = 'home' %}

{% block content %}
    <div class="spacer_large"></div>
    <div class="container">
        <div class="card-panel center-align">
            <h4>Login</h4>
            <form action="{{ path('admin_login_check') }}" method="post">
                <div class="row">
                    <div class="input-field col s12 m6 offset-m3">
                        {{ error }}
                        <input id="username" type="text" name="_username" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 offset-m3">
                        <input id="password" type="password" name="_password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <input type="hidden" name="_target_path" value="/admin/dashboard"/>
                <div class="col s12 m6 center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action" value="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}