<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Php setup{% endblock %}
    </title>
    <style>
        {% block style %}
            @import '{{ asset('/css/main.css') }}';
        {% endblock %}
    </style>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->      
    <link type="text/css" rel="stylesheet" href="{{ asset('/css/materialize.min.css') }}"  media="screen,projection"/>
</head>
<body>

{# the header #}
<header>
    
</header>
{# the navbar #}

<nav>
 <div class="nav-wrapper blue-grey darken-4 z-depth-3">
      <a href="#" class="brand-logo">Vinyl</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      

      
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
  </div>
</nav>

{% block content %}

{% endblock %}
{# the footer #}
<footer>

</footer>
{# javascript functions #}
{% block javascript %}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav({
                  menuWidth: 200, // Default is 240
                
                  closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                  draggable: true // Choose whether you can drag to open on touch screens
            });
        });
    </script>
{% endblock %}
</body>
</html>