{% extends 'base.html.twig' %} 
{% block content %}
<div class="row">
    {% for release in collection %}
    <div class="col s6 m2">
        <div class="card medium z-depth-3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/front.png">
            </div>
            <div class="card-content">
                <p>{{ release.artist }}</p>
                <p></p>
                <span class="card-title activator grey-text text-darken-4"><i class="material-icons left-align">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            </div>
            <div class="card-action">
                <a href="/release/{{ release.id }}">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
	<script>	
	$(document).ready(function(){
	$(".nav").find("a").css({"color":"black"});
});
	</script>

	{% endblock %}
