{% extends 'base.html.twig' %} 
{% set active_page = 'home' %}
{% block body %}
 <body class="lead-image">
  {% endblock %}
{% block header %}
{# <div class="parallax-container">
    <div class="parallax">
    </div>
</div> #}
{% endblock %} 
{% block content %}

{% endblock %}
