{% extends 'base.html.twig' %}
{% block content %}


   {% for item in artist.results %}
      <img src="{{ item.thumb }}">
      <p><a href="/release/{{ item.id }}">{{ item.id }}</a></p>
      {% endfor %}

   <a href="/">Back</a>
{% endblock %}